body{
	padding-bottom: 0px;
	padding-top: 0px;
	background-color: #e8ffc1;
	background-position: center;
	background-image: url('../image/sitting-reading.png');
	background-position: right;
	background-repeat: no-repeat;
	background-size: 300px;
  font-family: 'Montserrat', sans-serif;
	
}


.signin input[type=email], input[type=password] {
  width: 25%;
  color: #9ab3f5;
  padding: 20px 20px;
  margin: 8px 1px;
  display: inline-block;
  color: black;
  border: 2px solid #ccc;
  box-sizing: border-box;
}

.signin input[type=password], input[type=email] {
  width: 25%;
  color: #9ab3f5;
  padding: 20px 20px;
  padding-top: 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  box-sizing: border-box;
}
.signin button{

  background-color: #F4976C;
  color: #F4976C;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 30%;
  opacity: 1;
}

.sign-inbtn{
	float: center;
  width: 15%;
  color: #9ab3f5;
  
}




